@tailwind base;
@tailwind components;
@tailwind utilities;

.kos::-webkit-scrollbar {
  width: 0.55rem;
  height: 0.25rem;
  }


.kos::-webkit-scrollbar-thumb {
    background-color: rgb(222, 222, 222);
    border-radius: 50px;
}
